#
# Example pillar configuration
#
supervisor:
  legacy: False # Just to use the my-app-prog.conf program name (legacy: True, by default) or just my-app.conf (legacy: False)
  programs:
    my-app:
      enabled: True # The program.conf can be removed with this variable
      autorestart: 'true'
      autostart: 'true'
      redirect_stderr: 'true'
      startsecs: '5'
      stdout_logfile_maxbytes: '50MB'
      stdout_logfile_backups: '10'
      command: /opt/app/my-app/bin/my-app.sh
      user: 'root'
      startretries: '10'
      directory: '/opt/app/my-app/bin'
      stdout_logfile: '/var/log/my-app/my-app.log'

  lookup:
    service:
      name: supervisord

